
<nav class="navbar navbar-expand-md navbar-dark bg-secondary mb-4">
  <div class="container">   
    <a href="/" class="navbar-brand">
      <svg width="20" height="20" fill="currentColor" class="bi bi-activity" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
      </svg>
      Sıfır Noktası
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" [ngbCollapse]="isMenuCollapsed" id="navbarMain">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Ana Sayfa</a>
        </li>
        
      </ul>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Giriş Yap </a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link">Kayıt Ol </a>
        </li>
      </ul>
      
    </div>
  </div>
</nav> 